
@{
    ViewData["Title"] = "About Us";
}
<style>
    body {
        background-color: #F5f5dc;
    }

    img{
        width: 350px;
        height: 250px;
        left:25%;
    }
    .CEOprofile{
        display: flex;
        justify-content: center;
    }
    .CEO-header{
        display: flex;
        justify-content: center;
    }

    .CEO-name{
        display: flex;
        justify-content: center;
    }
    .CEO-info{
        display: flex;
        justify-content: center;

    }

</style>
<h1>About Us</h1>
<br /><br />
<div class=" CEO-header">
    <h2>Chief Executive Officer</h2>

</div>
<head>
<div class= "CEOprofile">
    <img src="https://as1.ftcdn.net/v2/jpg/02/83/82/48/1000_F_283824865_kH5JgncdnWCsOrd0YyCdCgMkceEOtcYU.jpg" />

</div>
</head>
<div class="CEO-name ">
    <h5>        JAMES KHUMALO</h5>

</div>
<br /><br />
<body>
<div class="CEO-info">
    <p1>Khumalo craft is an online global gallery intended on showcasing handcrafted goods from artisans all over the world. Our Founder and CEO James Khumalo, a world renowned artisan, has dedicated his life to travelling the world to find Artisan’s like himself in an attempt to create exposure around their work by bringing it to the global stage through KhumaloCraft Emporium. Since it’s inception, KhumaloCraft Emporium has helped thousands of International artisans showcase their work which subsequently allowed them to sell their handcrafted goods through KhumaloCraft Emporium and in some cases, helped Artisans secured deals with film production houses to create props and, interior designing firms to create handcrafted indoor and outdoor furniture.
        </p1>

</div>

</body>

