@{
    ViewData["Title"] = "Contact Us";
}
<style> 
    body {
        background-color: #F5f5dc;
    }

    header {
        background-color: #000080;
    }

    .mk-contact-form {
        position:center;
        left:50%;
    }

</style>

<h1> Contact Us</h1>
<br /><br />

<div class="mk-contact-form">
    <p>Should you have an enquiry, please fill out the form below and we will be sure to get back to you!</p>
    <form id="mk-contact-form-5" class="mk-contact-form clearfix" method="post" novalidate="novalidate" enctype="multipart/form-data">

        <div class="mk-form-row">

            <div class="mk-form-half s_form-all">
                <input placeholder="First Name*" type="text" required="required" name="name" class="text-input s_txt-input" tabindex="30">
            </div>

            <div class="mk-form-half s_form-all">
                <input placeholder="Last Name*" type="text" required="required" name="last_name" class="text-input s_txt-input" tabindex="31">
            </div>

        </div>

        <div class="mk-form-row">

            <div class="mk-form-third s_form-all">
                <input placeholder="Email*" type="email" data-type="email" required="required" name="email" class="text-input s_txt-input" tabindex="32">
            </div>

            <div class="mk-form-third s_form-all">
                <input placeholder="Phone Number" type="text" name="phone" class="text-input s_txt-input two-third" value="" tabindex="34">
            </div>

        </div>

        <div class="mk-form-row">
            <div class="mk-form-full s_form-all">
                <textarea required="required" placeholder="Message" name="content" class="mk-textarea s_txt-input" tabindex="35"></textarea>
            </div>
        </div>

        <div class="mk-form-row" >
            <button class="mk-progress-button mk-button mk-button--dimension-flat mk-button--size-medium text-color-light contact-submit contact-form-button _ font-weight-b" data-style="move-up" tabindex="36">
                <span class="mk-progress-button-content">
                    Submit
                </span>
                </button>
        </div>
    </form>
    <br /><br />

    <p>Contact Details:</p>
    <p>Monday - Friday</p>
    <p>08:00 - 17:30</p>
    <p>Saturday</p>
    <p>09:00 - 14:00</p>
    <p>Sunday & Public Holidays </p>
    <p>Closed</p>
    <br /><br/>
    <p>Find Us At:</p>
    <p>The Quadrant</p>
    <p>146 Campground Road</p>
    <p>Newlands</p>
    <p>Cape Town</p>
    <p>7708</p>
</div>
