@model ST10187895POE.Models.tblContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}
<style> 
    body {
        background-color: #F5f5dc;
    }

    header {
        background-color: #000080;
    }

    .ContactUs-form {
        position:center;
        left:50%;
    }

</style>

<h1> Contact Us</h1>
<br /><br />

<div class="ContactUs-form">
    <p>Should you have an enquiry, please fill out the form below and we will be sure to get back to you!</p>
    <form asp-controller="ContactUs" asp-action="ContactUs"  method="post">

        
                <input placeholder="First Name*" type="text" required="required" name="firstName" class="text-input s_txt-input" tabindex="30">
            


                <input placeholder="Last Name*" type="text" required="required" name="lastName" class="text-input s_txt-input" tabindex="31">



                <input placeholder="Email*" type="text" data-type="email" required="required" name="email" class="text-input s_txt-input" tabindex="32">

                <input placeholder="Phone Number" type="text" name="phoneNum" class="text-input s_txt-input two-third" value="" tabindex="34">

                <input placeholder="Message" type="text" name="message" class="mk-textarea s_txt-input" tabindex="35">

                <button type="submit">Submit</button>
    </form>
    <br /><br />

    <p>Contact Details:</p>
    <p>Monday - Friday</p>
    <p>08:00 - 17:30</p>
    <p>Saturday</p>
    <p>09:00 - 14:00</p>
    <p>Sunday & Public Holidays </p>
    <p>Closed</p>
    <br /><br/>
    <p>Find Us At:</p>
    <p>The Quadrant</p>
    <p>146 Campground Road</p>
    <p>Newlands</p>
    <p>Cape Town</p>
    <p>7708</p>
</div>
