@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #F5f5dc;

    }

    header {
        background-color: #000080;
    }

    .text-center{
        height: 150px;
        background-image: URL(https://www.zarla.com/images/Zarla-handmade-logos-3997x2661-2022016.jpeg?crop=21:16,smart&width=420&dpr=2)
        
    }

    .text-center h1{
            color: #FFFFFF;
    }

    .text-center p{
            color: #FFFFFF;
    }

    .HomePage-OurProducts{
        background-image: URL(https://www.vintagemillwerks.com/wp-content/uploads/2020/11/tSRJI8bdqmIKmXFGS8xUohNL95netAJO1606168370.jpg);
        display: flex;
        justify-content: center;
    }

    .HomePage-AboutUs img{
        height: 400px;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        
    }

    .HomePage-ContactUs img{
        height: 300px;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .HomePage-Info h4{
        position:center;

    }



</style>
<div class="text-center">
    <h1 class="display-4">Khumalo Craft Emporium</h1>
    <p>The home of Handcrafted goods from all over the world</p>
</div>



<br /><br />
<div class="HomePage-OurProducts">
    <a href="https://st10187895poe20240327011208.azurewebsites.net/Home/MyWork">
        <img src="https://laxmichalkindustries.com/wp-content/uploads/2017/11/1973805-our-products.png" width=" 350" height="200" />
    </a>
 </div>
 
 <div class="HomePage-AboutUs">
    <a href="https://st10187895poe20240327011208.azurewebsites.net/Home/AboutUs">
        <img src="https://www.bkacontent.com/wp-content/uploads/2020/06/about-us.webp" />
    </a>
</div>

<div class="HomePage-ContactUs">
    <a href="https://st10187895poe20240327011208.azurewebsites.net/Home/ContactUs">
        <img src="https://www.nirvesta.in/wp-content/uploads/2018/12/Banner_Contact-Us.jpg"/>
    </a>
</div>


