@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #F5f5dc;
    }

    header {
        background-color: #000080;
    }

</style>
<div class="text-center">
    <h1 class="display-4">Khumalo Craft Emporium</h1>
    <p>The home of Handcrafted goods from all over the world</p>
</div>
<br /><br />
<body>
    <a href="https://localhost:7013/Home/MyWork">
        <img src="https://laxmichalkindustries.com/wp-content/uploads/2017/11/1973805-our-products.png" width=" 350" height="200" />
    </a>
    
    <a href="https://localhost:7013/Home/AboutUs">
        <img src="https://www.hk.klinelogistics.com/wp-content/uploads/2015/12/About-us.jpg" width="350" height="200" />
    </a>

    <a href="https://localhost:7013/Home/ContactUs">
        <img src="https://media.istockphoto.com/id/1452771551/vector/contact-us-button-with-cursor-pointer-click-vector-web-button.jpg?s=612x612&w=0&k=20&c=IGWQ-VhsNAnZyKnuWhggHhpozUiuFRq5jd-rJ7-KqIc=" width="350" height="200" />
    </a>
</body>


