

@{
    ViewData["Title"] = "My Work";

}
<style>
    body {
        background-color: #F5f5dc;
    }

    .product1 {
        padding-bottom:200px;

         

    }

    .product1 img{
        padding-bottom: 5px;
        width: 250px;
        border-block: 300px;
        float: left;
        margin-right: 10px;
    }


    .pictureTitle {
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .pictureInfo{
    }

    .product2 {
        padding-bottom: 150px;
        img {
        width: 350px;
        height:200px;
        border-block: 300px;
        float: right;
        margin-left: 10px;
        }

    .product3{
        

        
    }

    .product3 img{
        max-width: 200px;
        height: 350px;
        float: right;
    }

    

</style>

<h1> My Work</h1>
<br/><br/>
    <div class=" product1">
<img src="https://static.jaypore.com/tr:w-500,h-662,e-sharpen/media/catalog/product/c/r/crdhoj800053234-1_3.jpg"  />
<p class="pictureTitle">Indian Tea </p>
<p class="pictureInfo">
        This handcrafted tea set was made by Mr Khumalo in 2008 during his time in India, most of which was spent with
        indian metal workers. As india is a former british colony, Mr Khumalo wanted to create an artwork that combined india's past with its future. Mr Khumalo chose to do this by
        making a tea set from brass as this pays homage to one of the Brits' favourite delicacy, whilst commending the contribution the metal industry has made to the indian economy and its people.
    </p>

    <P1>R 12 499.00</P1>
    </div>

    <div class="product2">
        <img src="https://res.cloudinary.com/rmwdam/image/upload/dpr_auto,f_auto,q_auto/v1/content/Handcrafted%20leather%20goods/ADVENTURE-PACK-HERO" />
        <p class="pictureTitle">Leather essentials </p>
        <p class="pictureInfo">
            A handcrafted set of leather essentials made by Mr Khumalo. This set of handcrafted leather goods consists of a 15 inch laptop pouch, a traditional flip wallet,
            wireless earphone case, key-holder, luggage tag, phone holder, airtag holder and a card holder.This essential set will ensure that your daily essentials are kept secure 
            and that you are kept stylish
        </p>
        <p1>R 14 900.00</p1>
    </div>

    <div class="product3">
    
         <img src="https://images1.novica.net/pictures/10/p129458_2_400.jpg" 
         />
    <p class="pictureTitle"> Hunger </p>
    <p class="pictureInfo">
        This wooden decor piece was made by Mr Khumalo during his time in central africa, a reigon with over 1,5 million km² of forestry. During this time Mr Khumalo
        was also part of various community outreach programmes where he witnessed the effects of poverty at the site of several children suffering from malnutrition.
    </p>
    <p1> R 7 599.00 </p1>
    </div>
