@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-color: #F5f5dc;
    }

    header {
       
        background-color: #000080;
    }

</style>

<h1>@ViewData["Title"]</h1>
<br /><br />

    <h2>Privacy Policy for Khumalo Craft Emporium</h2>
<p>
     At Khumalo Craft Emporium, we prioritize the privacy and security of our users. This Privacy Policy outlines the information we collect, how we use it, and the choices you have regarding your data. By accessing or using Khumalo Craft Emporium's website, you agree to the terms outlined in this Privacy Policy.
        <p/>

    <h2>Information We Collect</h2>
    <p>
    - **Personal Information**: When you visit Khumalo Craft Emporium, we may collect personal information such as your name, email address, mailing address, phone number, and payment details when you make a purchase.

    - **Non-Personal Information**: We may also collect non-personal information such as your IP address, browser type, operating system, and demographic information. This information is collected to improve our website's performance and enhance your user experience.

    **How We Use Your Information**

    - **To Provide Services**: We use the information collected to provide you with the services you request, such as processing orders, delivering products, and responding to inquiries.

    - **To Improve Our Website**: Your information helps us understand how our website is used and enables us to make improvements to enhance your experience.

    - **Marketing and Communication**: With your consent, we may use your email address to send you promotional offers, newsletters, and other communications about Khumalo Craft Emporium's products and services. You can opt-out of these communications at any time.

    - **Security**: We take the security of your information seriously and use appropriate measures to protect it from unauthorized access, disclosure, alteration, or destruction.
    </p>
<h2>Cookies</h2>
<p>
    Khumalo Craft Emporium uses cookies to enhance your browsing experience. Cookies are small pieces of data stored on your device that help us improve our website's functionality and provide personalized content. You can choose to disable cookies in your browser settings, although this may affect your ability to access certain features of our website.
    </p>
    <h2>Third-Party Links</h2>
    <p> 
    Our website may contain links to third-party websites or services. Please note that we are not responsible for the privacy practices of these third parties. We encourage you to review the privacy policies of any third-party websites you visit.
</p>
 <h2>Children's Privacy</h2>
 <p> 
    Khumalo Craft Emporium does not knowingly collect personal information from children under the age of 13. If you are under 13 years old, please do not provide any personal information on our website.

    Changes to this Privacy Policy
    </p>
    We reserve the right to update or modify this Privacy Policy at any time. Any changes will be posted on this page, and we encourage you to review this Privacy Policy periodically.
    
    <a href="https://localhost:7013/Home/ContactUs">
        <p>Contact Us</p>
    </a>

    If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at admin@KhumaloCraft.com

    This Privacy Policy was last updated on 26/03/2024.
</p>
